*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
  min-width: 1600px;
  margin: 0px;
}
:root {
  --main-color: #212121;
  --sec-color: #757575;
}
a {
  text-decoration: none;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
  list-style-type: none;
}
h1,
h2,
h3,
p {
  margin: 0;
}
.button {
  display: block;
  border: 0;
  cursor: pointer;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.hidden-title {
  display: none;
}
/* Логотип */
.logo {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: #2196f3;
}
.head-logo {
  margin-right: 93px;
}
/* Стили Шапки */
.header {
  display: flex;
  height: 80px;
  border-bottom: 1px solid rgba(236, 236, 236, 1);
}
.head-container {
  display: flex;
  align-items: center;
}

/* Шапка Логотип */
.logo-head-studio {
  color: #000000;
}
/* Шапка Навигация */
.header-nav-list {
  display: flex;
  padding-left: 0px;
  margin: 0px;
}
.header-nav-item {
  margin-right: 50px;
}
.header-nav-item:last-child {
  margin-right: 0px;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--main-color);
}
.header-nav-link:hover {
  color: #2196f3;
}
.header-nav-link:focus {
  color: #2196f3;
}
/* Шапка Контакты */
.header-contacts {
  display: flex;
  padding: 0px;
  margin-left: auto;
}
.contacts-item {
  display: inline-flex;
  align-items: flex-end;
}
.contacts-item:not(:last-child) {
  margin-right: 50px;
}
.contacts-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.15;
  letter-spacing: 0.02em;
  color: var(--sec-color);
}
.contacts-link:hover {
  color: #2196f3;
}
.contacts-link:focus {
  color: #2196f3;
}
.contacts-text {
  margin-left: 5px;
}
/* Стили главной страницы */
/* Заказать услугу */
.hero {
  background-color: #c4c4c4;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-img/heroweb.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  padding: 200px 0;
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.37;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  width: 696px;
}
.hero-button {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/* Почему мы */
.whyme-list {
  display: flex;
  justify-content: center;
}
.whyme-item {
  width: 270px;
}
.whyme-item:not(:last-child) {
  margin-right: 30px;
}
.whyme-item-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--main-color);
  margin-bottom: 10px;
}
.whyme-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
/* Чем занимаемся */
.whatdo {
  padding-top: 0px;
}
.whatdo-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}
.whatdo-list {
  display: flex;
  padding: 0px;
  margin: 0px;
}
.whatdo-item:not(:last-child) {
  margin-right: 30px;
}
/* Наша команда */
.team {
  background-color: #f5f4fa;
}
.team-title {
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
}
.team-list {
  display: flex;
  justify-content: center;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
.team-item {
  width: 270px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:not(:last-child) {
  margin-right: 30px;
}
.team-name {
  margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}
.team-box {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* Стили Портфолио */

/* Портфолио фильтр */
.portf-filter-list {
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}
.portf-filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-button {
  padding: 6px 22px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-color);
  background-color: #f5f4fa;
  border-radius: 4px;
}
.filter-button:hover {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
/* Портфолио проекты */
.portf-project-list {
  display: flex;
  flex-wrap: wrap;
}
.portf-project-item {
  width: 370px;
}
.portf-project-item:not(:nth-last-child(-n + 3)) {
  margin-bottom: 30px;
}
.portf-project-item:not(:nth-child(3n)) {
  margin-right: 30px;
}
.portf-text-box {
  border: 1px solid rgba(238, 238, 238, 1);
  padding: 20px 24px;
}
.portf-project-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.71;
  letter-spacing: 0.06em;
  color: var(--main-color);
  margin-bottom: 4px;
}
.portf-project-class {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--sec-color);
}
/* Стили Подвала */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: #2f303a;
}
/* Подвал логотип цвет */
.logo-foot-studio {
  color: #ffffff;
}
/* Подвал адрес и контакты */
.adress-box {
  margin-top: 20px;
}
.adress-item {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}
.adress-item:not(:last-child) {
  margin-bottom: 9px;
}
.address-map {
  color: #ffffff;
}
.address-cont {
  color: rgba(255, 255, 255, 0.6);
}

.icon {
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-whyme-4 {
  width: 2.25em;
}

.icon-whyme-3 {
  width: 2.25em;
}

.icon-whyme-2 {
  width: 2.25em;
}

.icon-whyme-1 {
}

.icon-mail {
  width: 1.3330078125em;
}

.icon-smartphone {
  width: 0.625em;
}

.icon-Client-3 {
  width: 1.84765625em;
}

.icon-Client-2 {
  width: 1.84765625em;
}

.icon-Client-1 {
  width: 1.84765625em;
}

.icon-Client-6 {
  width: 1.84765625em;
}

.icon-Client-5 {
  width: 1.84765625em;
}

.icon-Client-4 {
  width: 1.84765625em;
}
